@import '../../common/generic'

.backdrop
    +size(100vw, 100vh)
    position: fixed
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.8)
    
    @supports (backdrop-filter: blur(10px))
        animation: show-backdrop 150ms ease-out forwards

    z-index: 20

.modal
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%

    z-index: 30
    animation: show-modal 150ms ease-out forwards

@keyframes show-modal
    0% 
        opacity: 0
        transform: translate(-50%, -50%) scale(1.1)
    
    100%
        opacity: 1
        transform: translate(-50%, -50%) scale(1)

@keyframes show-backdrop
    0% 
        backdrop-filter: blur(0)
        -webkit-backdrop-filter: blur(0)
    
    100%
        backdrop-filter: blur(10px)
        -webkit-backdrop-filter: blur(10px)

